<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <title>Pythonk Image Uploader</title>
    </head>
    <body>
        <div class="navbar">
            <label class="navtext">Pythonk Image Uploader</label>
        </div>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input class="fileselector" type="file" name="image">
            <button class="fileupload" type="submit">Upload</button>
            <!-- Todo: Consider using XMLHttpRequest so we can set headers (auth key) -->
        </form>
    </body>
</html>
